html {
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  min-width: 1200px;
}
.appScenesMain {
  background: #fff;
}
.appScenesMain #SCENES_MAIN {
  display: block;
}
.appScenesMain #SCENES_POPUP {
  display: block;
  z-index: 103;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.appScenesLogin #SCENES_LOGIN {
  display: block;
}
.appScenesLoginMain {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 400px;
  margin-top: -200px;
  margin-left: -250px;
}
.appScenesPopGrid {
  background: #fff;
}
.appScenesPopGrid #SCENES_POPGRID {
  display: block;
  z-index: 103;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
.appScenesPopGrid #SCENES_MAIN {
  display: block;
}
.appScenesPopGrid #SCENES_POPUP {
  display: block;
  z-index: 103;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.appScenesPop {
  background: #fff;
}
.appScenesPop #SCENES_POP {
  display: block;
  z-index: 103;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.appScenesPop #SCENES_MAIN {
  display: block;
}
.appScenesPop #SCENES_POPUP {
  display: block;
  z-index: 103;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.dialog-open {
  overflow-y: hidden !important;
}
.G-frameScenes {
  display: none;
}
.G-frameHead {
  z-index: 101;
  margin-bottom: 0;
  min-height: 50px;
  border: none;
  width: 100%;
  min-width: 600px;
  height: 50px;
  position: relative;
}
.G-frameHeadTitle {
  position: absolute;
  top: 0px;
  left: 172px;
}
.G-frameHeadTitle .nav-menu-collapse {
  width: 50px;
  height: 50px;
  color: #ccc;
  font-size: 20px;
  position: relative;
  float: left;
}
.G-frameHeadTitle .nav-menu-collapse > i {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -9px;
  margin-top: -7px;
}
.G-frameHeadTitle .nav-menu-collapse .off {
  display: none;
}
.G-frameHeadTitle .nav-menu-title {
  font-size: 19px;
  float: left;
  line-height: 50px;
  height: 50px;
}
.G-frameHeadTitle .nav-menu-title a {
  font-size: 13px;
  letter-spacing: 0.05em;
  margin-left: 15px;
  vertical-align: -2px;
}
.G-frameHeadTitle .nav-menu-title span {
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}
.G-frameHead.head-menu-collapsed .G-frameHeadTitle {
  left: 72px;
}
.G-frameHead.head-menu-collapsed .G-frameHeadTitle .nav-menu-collapse .on {
  display: none;
}
.G-frameHead.head-menu-collapsed .G-frameHeadTitle .nav-menu-collapse .off {
  display: block;
}
.G-frameBody.body-menu-expanded {
  padding-left: 160px;
}
.G-frameBody.body-menu-expanded .G-frameBodyMenu {
  width: 160px;
}
.G-frameBody.body-menu-collapsed {
  padding-left: 60px;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu {
  width: 60px;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu-logo .small {
  display: none;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu-logo .smaller {
  display: block;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu .M-navGroup > li {
  text-align: center;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu .M-navGroup > li > a > i {
  margin-left: 0;
  margin-bottom: 5px;
  display: block;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu .M-navGroup > li > a > span {
  padding-left: 0;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu .M-navGroup > li > a > .name {
  display: none;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu .M-navGroup > li > a > .alias {
  display: block;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu .M-navGroup > li .subGroup > li > a {
  padding-left: 0px;
  text-indent: 0px;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu .M-navGroup > li .subGroup > li > a > i {
  margin-right: 0px;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu .M-navGroup > li .subGroup > li > a > .name {
  display: none;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu .M-navGroup > li .subGroup > li > a > .alias {
  display: inline-block;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu .M-navGroup > li .hasSubIcon {
  right: 4px;
  font-size: 14px;
  top: auto;
  bottom: 11px;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu .M-navAdd {
  display: none;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu-switch {
  width: 60px;
  bottom: 0px;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu-switch .M-switch li a i {
  display: block;
  margin-bottom: 5px;
  margin-right: 0px;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu-switch .M-switch li a .name {
  display: none;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu-switch .M-switch li a .alias {
  display: block;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu-footer {
  display: none;
  width: 0;
  padding: 0;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu-collapse-toggle .left {
  display: none;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu-collapse-toggle .right {
  display: block;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu-collapse.angle:hover > a {
  border-color: transparent transparent transparent #ffffff;
}
.G-frameBody.body-menu-collapsed .G-frameBodyMenu .nav-menu-collapse.angle .nav-menu-collapse-toggle {
  border-color: transparent transparent transparent #999999;
  left: 4px;
}
.G-frameBody.body-mobile-state .G-frameBodyMenu {
  min-height: 800px;
  position: absolute;
}
.G-frameBody.body-mobile-state .G-frameBodyMenu .nav-menu-switch {
  position: absolute;
}
.G-frameBody.body-mobile-state .G-frameBodyMenu .nav-menu-footer {
  position: absolute;
}
.G-frameBodyMenu {
  -webkit-font-smoothing: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  transition-duration: .3s;
  width: 160px;
  z-index: 101;
  background: #162327;
}
.G-frameBodyMenu .nav-menu-logo {
  height: 50px;
  width: 100%;
  overflow: hidden;
}
.G-frameBodyMenu .nav-menu {
  margin-top: 15px;
  padding-bottom: 150px;
  height: 100%;
}
.G-frameBodyMenu .nav-menu-switch {
  background: #000;
  color: #444;
  position: fixed;
  bottom: 0px;
  width: 160px;
  overflow: hidden;
  z-index: 102;
}
.G-frameBodyMenu .nav-menu-footer {
  display: none !important;
  background: #000;
  color: #444;
  position: fixed;
  bottom: 0;
  width: 160px;
  padding: 10px 0px;
  overflow: hidden;
  z-index: 102;
  text-align: center;
}
.G-frameBodyContent {
  width: 100%;
  padding: 20px 28px 20px 28px;
  background: #FFF;
}
.G-frameBodyContent .body-sidebar-collapsed {
  padding-right: 0;
}
.G-frameBodyContent .body-sidebar-collapsed .G-frameBodySidebar {
  right: 0;
  width: 0;
}
.G-frameBodyContent .body-sidebar-collapsed .G-frameBodySidebar .M-sidebarWrap {
  width: 0;
}
.G-frameBodyContent .body-sidebar-collapsed .G-frameBodySidebar .sidebar-collapse-toggle .left {
  display: block;
}
.G-frameBodyContent .body-sidebar-collapsed .G-frameBodySidebar .sidebar-collapse-toggle .right {
  display: none;
}
.G-frameBodyContent .body-sidebar-collapsed .G-frameBodySidebar .sidebar-collapse.angle:hover > a {
  border-color: transparent #132124 transparent transparent;
}
.G-frameBodyContent .body-sidebar-collapsed .G-frameBodySidebar .sidebar-collapse.angle .sidebar-collapse-toggle {
  border-color: transparent #999999 transparent transparent;
  left: -2px;
}
.G-frameBodySidebar {
  position: absolute;
  z-index: 101;
  background: #fff;
  transition-duration: .3s;
  display: none;
  left: 0px;
  top: 0px;
  width: 650px;
  border-radius: 0px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
}
.G-frameBody .M-formHeadTitle {
  position: absolute;
  top: 10px;
  z-index: 103;
  margin-left: 35px;
}
.G-frameBody .M-commonListHeaderTitle {
  position: absolute;
  top: 15px;
  z-index: 103;
  margin-left: 35px;
}
.G-frameBody .M-commonFormHeaderTitle {
  position: absolute;
  top: 15px;
  z-index: 103;
  margin-left: 35px;
}
.G-framePopGridOpenBtn {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 105;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: #999;
  border-radius: 50%;
  cursor: pointer;
}
.G-framePopGridOpenBtn:hover {
  background: #666;
  color: #fff;
}
.M-containerSidebar.cool .G-frameBodyTab li {
  font-size: 14px;
  text-align: center;
}
.M-containerSidebar.cool .G-frameBodyTab li a {
  margin: 0px;
  padding: 8px 40px;
  border: none;
  border-bottom: 2px solid transparent;
}
.M-containerSidebar.cool .G-frameBodyTab .active a {
  border-bottom-color: #1F5AA3;
}
.M-containerSidebar.hot .G-frameBodyTab li {
  font-size: 14px;
  text-align: center;
}
.M-containerSidebar.hot .G-frameBodyTab li a {
  margin: 0px;
  padding: 8px 40px;
  border: none;
  border-bottom: 2px solid transparent;
  color: #333;
}
.M-containerSidebar.hot .G-frameBodyTab .active a {
  border-bottom-color: #D31D20;
  color: #D31D20;
}
@media screen and (max-width: 1200px) {
  html {
    overflow-x: auto;
  }
}
.G-framePopGridBlock {
  position: relative;
  background: rgba(250, 250, 250, 0.1);
  width: 100%;
  height: 100%;
}
.G-framePopGridCtrl {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 150px;
  cursor: pointer;
}
.G-framePopGridCtrlBtn {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  text-align: center;
  font-size: 40px;
  vertical-align: middle;
  color: #fff;
}
.G-framePopGridMain {
  background: #fff;
  width: 100%;
  height: 100%;
}
.G-framePopGridContent {
  height: 100%;
  overflow: auto;
  padding: 60px 30px 20px 280px;
}
.G-framePopGridSingle .M-formHeadTitle {
  position: absolute;
  top: 10px;
  z-index: 103;
  margin-left: 0px;
  font-size: 16px;
}
.G-framePopGridMenu {
  z-index: 103;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 250px;
}
.G-framePopGridMenu-wrap {
  height: 100%;
  overflow: hidden;
  background: #f8f8f8;
}
.G-framePopGridMenu-group {
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid #00a8e6;
}
.G-framePopGridMenu-group-label {
  color: #999;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  font-weight: bold;
  padding-left: 5px;
}
.G-framePopGridMenu-group-label span {
  padding-left: 10px;
}
.G-framePopGridMenu-group-item {
  padding: 0px;
  margin: 0px;
}
.G-framePopGridMenu-main {
  padding-top: 15px;
}
.G-framePopGridMenu-content {
  padding: 0px;
  margin: 0px;
}
.G-framePopGridMenu-item {
  position: relative;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: #595959;
  padding-left: 10px;
  padding-right: 24px;
  cursor: pointer;
  padding-left: 40px;
}
.G-framePopGridMenu-item-corner {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 30px;
  line-height: 0;
  font-size: 0;
  background: #555;
}
.G-framePopGridMenu-item-content {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  word-break: break-all;
}
.G-framePopGridMenu-item-ctrl {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 24px;
  height: 30px;
  overflow: hidden;
}
.G-framePopGridMenu-item-ctrl-wrap {
  width: 48px;
  position: absolute;
  right: 0;
  top: 0;
}
.G-framePopGridMenu-item-ctrl.hover {
  width: 48px;
}
.G-framePopGridMenu-item-removeBtn,
.G-framePopGridMenu-item-fixedBtn {
  width: 24px;
  height: 30px;
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
}
.G-framePopGridMenu-item:hover {
  color: #00a8e6;
}
.G-framePopGridMenu-item.active {
  background: #00a8e6;
  color: #fff;
}
.G-framePopGridMenu-item.active .G-framePopGridMenu-item-ctrl,
.G-framePopGridMenu-item:hover .G-framePopGridMenu-item-ctrl {
  display: block;
}
.G-framePopGridMenu-item.fixed .G-framePopGridMenu-item-corner {
  display: block;
}
.G-framePopGridHead {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #fff;
  z-index: 102;
  border-bottom: 1px solid #ececec;
}
.G-framePopGridHead .exit {
  font-size: 14px;
  float: right;
  margin-right: 30px;
}
.G-framePopGridHead .exit span {
  margin-right: 10px;
  color: #ccc;
}
.G-framePopGridHead .exit i {
  font-size: 24px;
  cursor: pointer;
  vertical-align: -4px;
}
.G-framePopGridHead .exit i:hover {
  background: #f2f2f2;
}
.G-framePop {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  width: 1400px;
  left: 50%;
  margin-left: -700px;
  opacity: 0.5;
  transition: opacity 0.4s ease;
}
.G-framePop.show {
  opacity: 1;
}
.G-framePopHead {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #fff;
  z-index: 102;
  border-bottom: 1px solid #ececec;
}
.G-framePopHeadProgress {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 2px;
  width: 0%;
  transition: width 1s ease;
}
.G-framePopHeadTitle {
  margin-left: 28px;
  font-size: 18px;
  float: left;
}
.G-framePopHeadExit {
  font-size: 14px;
  float: right;
  margin-right: 30px;
}
.G-framePopHeadExit span {
  margin-right: 10px;
  color: #ccc;
}
.G-framePopHeadExit i {
  font-size: 24px;
  cursor: pointer;
  vertical-align: -4px;
}
.G-framePopHeadExit i:hover {
  background: #f2f2f2;
}
.G-framePopBody {
  position: relative;
  width: 100%;
  padding-top: 50px;
}
.G-framePopBodyCrumb {
  padding: 20px 28px 0px;
}
.G-framePopBodyContent {
  height: 100%;
  width: 100%;
  padding: 0px 28px 20px 28px;
}
.G-framePopCrumb {
  position: relative;
}
.G-framePopCrumbCon .levelCon {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
  display: none;
  float: left;
  position: relative;
}
.G-framePopCrumbCon .levelCon.lighten {
  opacity: 0.5;
}
.G-framePopCrumbCon .levelCon .dropCon {
  display: inline-block;
}
.G-framePopCrumbCon .levelCon .dropCon .blue .form-element-group {
  width: 100%;
}
.G-framePopCrumbCon .levelCon .dropCon .blue .result {
  border-radius: 4px;
  width: 100%;
  max-width: 100% !important;
}
.G-framePopCrumbCon .levelCon .dropCon .blue .arrow {
  display: none;
}
.G-framePopCrumbCon .levelCon .arrowCon {
  display: inline-block;
}
.G-framePopCrumbCon .levelCon .cancelCon {
  position: absolute;
  z-index: 1;
  top: -8px;
  right: -7px;
}
.G-framePopCrumbCon .levelCon .cancelCon.cancelEnd .levelCancel i {
  color: #eb3c45;
}
.G-framePopCrumbCon .levelCon .levelArrow {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0 10px;
  cursor: auto;
}
.G-framePopCrumbCon .levelCon .levelArrow span {
  width: 15px;
  height: 1px;
  display: inline-block;
  background: #999;
  vertical-align: middle;
}
.G-framePopCrumbCon .levelCon .levelArrow > i {
  vertical-align: middle;
  display: none;
}
.G-framePopCrumbCon .levelCon .levelCancel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  z-index: 1;
  width: 16px;
  height: 16px;
  color: #a4a4a4;
  background: #fff;
  position: relative;
}
.G-framePopCrumbCon .levelCon .levelCancel i {
  vertical-align: middle;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
  cursor: pointer;
}
.G-framePopCrumbCon .levelCon:first-of-type .arrowCon {
  display: none !important;
}
.G-framePopCrumbCon .levelCon:first-of-type .cancelCon {
  display: none !important;
}
.G-framePopCrumbCon .levelCon:nth-of-type(2) .cancelCon {
  display: none !important;
}
.G-framePopCrumbSubTitle {
  font-size: 16px;
  padding: 10px 0;
  display: none;
}
.G-framePopCrumbSubTitle.align {
  position: absolute;
  z-index: 1;
  bottom: -45px;
}
.G-framePopMask {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.9;
  position: fixed;
  top: 0px;
  left: 0px;
  transition: opacity .4s ease;
}
.G-framePopMask.show {
  opacity: 0.3 !important;
}
@media screen and (min-width: 1800px) {
  .G-framePop {
    width: 1700px;
    margin-left: -850px;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .G-framePop {
    width: 1500px;
    margin-left: -750px;
  }
}
@media screen and (min-width: 1500px) and (max-width: 1600px) {
  .G-framePop {
    width: 1400px;
    margin-left: -700px;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1500px) {
  .G-framePop {
    width: 1300px;
    margin-left: -650px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .G-framePop {
    width: 1200px;
    margin-left: -600px;
  }
}
@media screen and (max-width: 1200px) {
  .G-framePop {
    width: 1000px;
    margin-left: -500px;
  }
}
.M-sidebar {
  height: 100%;
  position: relative;
}
.M-sidebarAngle {
  position: absolute;
  display: block;
  top: -14px;
}
.M-sidebarFoot {
  height: 54px;
  line-height: 54px;
  text-align: right;
  padding: 0 20px;
  background: #F6F7F9;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.M-sidebarFoot .reset {
  cursor: pointer;
  color: #58AEDD;
}
.M-sidebarFoot input {
  width: 80px;
}
.M-sidebarFoot .help {
  color: #bbb;
  float: left;
}
.M-sidebarLayout {
  padding: 20px 0 5px;
}
.M-sidebar .sidebar-collapse {
  display: none;
  width: 14px;
  height: 100%;
  background-color: rgba(250, 250, 250, 0);
  position: absolute;
  top: 0;
  left: -14px;
  cursor: pointer;
}
.M-sidebar .sidebar-collapse:hover {
  background: #EEEEEE;
}
.M-sidebar .sidebar-collapse:hover > a > i {
  color: #777777;
}
.M-sidebar .sidebar-collapse .sidebar-collapse-toggle {
  position: absolute;
  top: 50%;
  left: 4px;
  font-size: 16px;
  width: 7px;
  height: 11px;
  margin-top: -5px;
}
.M-sidebar .sidebar-collapse .sidebar-collapse-toggle i {
  color: rgba(250, 250, 250, 0);
}
.M-sidebar .sidebar-collapse .sidebar-collapse-toggle .left {
  display: none;
}
.M-sidebar .sidebar-collapse .sidebar-collapse-toggle .right {
  display: block;
}
.M-sidebar .sidebar-collapse.angle {
  width: 10px;
  background: #e7e7e7;
  height: 38px;
  margin-top: -25px;
  top: 50%;
  position: absolute;
  left: -10px;
  cursor: pointer;
}
.M-sidebar .sidebar-collapse.angle:hover > a {
  border-color: transparent transparent transparent #132124;
}
.M-sidebar .sidebar-collapse.angle:hover > a > i {
  color: #777777;
}
.M-sidebar .sidebar-collapse.angle > b {
  width: 0;
  height: 0;
  content: " ";
  overflow: hidden;
  border-style: solid;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}
.M-sidebar .sidebar-collapse.angle .sidebar-collapse-angleTop {
  position: absolute;
  top: -12px;
  left: 0;
  border-width: 6px 0px 6px 10px;
  border-color: transparent transparent #e7e7e7 transparent;
}
.M-sidebar .sidebar-collapse.angle .sidebar-collapse-angleBottom {
  position: absolute;
  bottom: -12px;
  left: 0;
  border-width: 6px 0px 6px 10px;
  border-color: #e7e7e7 transparent transparent transparent;
}
.M-sidebar .sidebar-collapse.angle .sidebar-collapse-toggle {
  height: 0;
  width: 0;
  overflow: hidden;
  content: " ";
  border-width: 5px;
  border-color: transparent transparent transparent #999999;
  border-style: solid;
  display: inline-block;
  left: 3px;
}
.M-sidebar .sidebar-collapse.angle .sidebar-collapse-toggle > i {
  display: none !important;
}
